
#board{

}
#board .wrap{
  
  display: flex;
}
#board .b_left {

  width: 67%;
  margin-right: 36px;
}
#board .b_left .b_top {

  margin-bottom: 24px;
}
#board .b_left .b_top ul {

  width: 100%;
}
#board .b_left .b_top ul h2 {

}
#board .b_left .b_top ul li {

}
#board .b_left .b_top>ul>li:nth-child(2){
  border-radius:26px 0 0 26px;
  
}
#board .b_left .b_top>ul>li:hover{
  background-color: #4b4e9a;
}

#board .b_left .b_top>ul>li:hover a{
  color:white;
}
#board .b_left .b_top>ul>li:nth-child(2n){
  border-right:none a;
  color:white;
}
#board .b_left .b_top>ul>li:last-child{
  background-color:white;
    border-radius:0 26px 26px 0;
}
#board .b_left .b_top>ul>li{
  border:1px solid #dddddd;
  padding: 19px 30px;
  background-color: #e9e9ed;
}
#board .b_left .b_top ul li a {

  font-weight: bold;
  font-size: 12pt;
  color: #666666;
}
#board .b_left .b_bottom {

  background-color: transparent;
  border-radius: 22px;
  border: 1px solid #dddddd;
  padding: 25px 44px;
}
#board .b_left .b_bottom .b_b_top {

  display: flex;
}
#board .b_left .b_bottom .b_b_top .b_b_left {

  border: 2px solid #f6f6f6;
  border-radius: 16px;
  padding: 18px;
  text-align: center;
  margin-right: 31px;
}
#board .b_left .b_bottom .b_b_top .b_b_left p {

}
#board .b_left .b_bottom .b_b_top .b_b_left p.b_b_b_top{
  
  font-size: 29pt;
  font-weight: bold;
}
#board .b_left .b_bottom .b_b_top .b_b_left p.b_b_b_bottom{
  
  color: #939393;
  font-weight: bold;
}

#board .b_left .b_bottom .b_b_top .b_b_right {

}
#board .b_left .b_bottom .b_b_top .b_b_right h3 {

  font-weight: 900;
  color: #333;
  font-size: 16pt;
  line-height: 2;
}
#board .b_left .b_bottom .b_b_top .b_b_right p {

  line-height: 1.5;
  color: #888888;
  font-weight: bold;
  font-size: 12pt;
}
#board .b_left .b_bottom .b_b_bottom {

  margin-top: 25px;
}
#board .b_left .b_bottom .b_b_bottom ul {

  display: flex;
  padding: 6px;
  align-items: center;
  justify-content: space-between;
}
#board .b_left .b_bottom .b_b_bottom ul li {

}
#board .b_left .b_bottom .b_b_bottom ul li h3 {

  background-color: #f5f3ff;
  color: #5546a9;
  padding: 10px 16px;
  border-radius: 18px;
  font-weight: bold;
}
#board .b_left .b_bottom .b_b_bottom ul li p {

  color: #464646;
  font-weight: bold;
  margin-left: 13px;
}
#board .b_left .b_bottom .b_b_bottom ul li p.date {
  color:#939393;
}
#board .b_left .b_bottom .b_b_bottom ul:nth-child(2) li:nth-child(2) p{
  
  margin-left: -74px;
}
#board .b_right {

}
#board .b_right article {

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#board .b_right article span{
  
  display: flex;
  border: 1px solid #eee;
  justify-content: space-evenly;
  padding: 17px;
  border-radius: 31px;
  margin-top: 33px;
  width: 80%;
}
#board .b_right article a:first-child {

  background-image: url(../img/view.png);
  display: block;
  width: 490px;
  height: 350px;
  border-radius: 26px;
}