footer{

  background-color: #334154;
  margin-top: -24px;
}

footer .wrap{

  position: relative;
}
footer .wrap .footerT{

}

footer .wrap .footerT ul{

  display: flex;
  padding: 22px 0;
}
footer .wrap .footerT ul li{

  position: relative;
}
footer .wrap .footerT ul li a::after{
  content:"+";
  display: block;
  width: 37px;
  height: 31px;
  color:white;
  position: absolute;
  right: 13px;
  bottom: -9px;
  font-size: 21pt;
}
footer .wrap .footerT ul li a{
  color: white;
  font-weight: bold;
  padding-right: 74px;
  padding-left: 18px;
  padding-top: 21px;
  padding-bottom: 21px;
}
footer .wrap .footerT::after{
content:"";
  display: block;
border-bottom: 1px solid #5c6776;
position: absolute;
left: -252px;
right: -252px;
padding-bottom: -1px;
}
footer .wrap .footerT ul li:first-child a{
  
  border-left: 1px solid #5c6776;
}
footer .wrap .footerT ul li:nth-child(2) a{
  border-right: 1px solid #5b6776;
  border-left: 1px solid #5b6776;    
}
footer .wrap .footerT ul li:last-child a{
  
  border-right: 1px solid #5c6776;
}
footer .wrap .footerB{

  display: flex;
  padding-top: 52px;
}

footer .wrap .footerB .footerL{
  display: flex;
}
footer .wrap .footerB .footerL .footLL{

  padding-right: 36px;
}
footer .wrap .footerB .footerL .footLL i{
  
  background-image: url(https://www.gjcity.go.kr/portal/img/common/f_logo.svg);
  width: 93px;
  height: 141px;
  display: block;
}
footer .wrap .footerB .footerL .footLR{

}
footer .wrap .footerB .footerL .footLR .footLLR{

}
footer .wrap .footerB .footerL .footLR .footLLR ul{

  display: flex;
  align-items: center;
  padding-bottom: 44px;
}
footer .wrap .footerB .footerL .footLR .footLLR p{
  color: #a7adb5;
  line-height: 1.5;
}   
footer .wrap .footerB .footerL .footLR .footLLR p:nth-child(2){
  padding-bottom:25px; 
}
footer .wrap .footerB .footerL .footLR .footLLR p:nth-child(3){
  
  padding-bottom: 12px;
}
footer .wrap .footerB .footerL .footLR .footLLR i{
  display: block;
  width: 87px;
  height: 66px; 
  background-repeat: no-repeat;
}
footer .wrap .footerB .footerL .footLR .footLLR i:first-child{
 background-image:url(https://www.eprivacy.or.kr/images/mng/sub/mark1_eprivacy.png)
}   
footer .wrap .footerB .footerL .footLR .footLLR i:last-child{
 background-image:url( https://www.gjcity.go.kr/common/img/common/ico_wa.png)
}   
footer .wrap .footerB .footerL .footLR .footLLR ul li{

}


footer .wrap .footerB .footerL .footLR .footLLR ul li a{

  color:white;
}
footer .wrap .footerB .footerL .footLR .footLLR ul li:first-child a{
color:#ffc1d8;
 font-weight: bold;
}
footer .wrap .footerB .footerR{

}
footer .wrap .footerB .footerR .footT{

  display: flex;
  background-color: #293443;
  padding: 11px;
  border-radius: 15px;
  margin-bottom: 20px;
  align-items: center;
}
footer .wrap .footerB .footerR .footT p{

  color: white;
  font-size: 11pt;
}
footer .wrap .footerB .footerR .footT p.call{
  padding-left:23px;
}
footer .call{
  font-weight: bold;
  font-size: 15pt !important;
}
footer .wrap .footerB .footerR .footB{

  display: flex;
  align-items: center;
  background-color: #293443;
  padding: 11px;
  border-radius: 15px;
}
footer .wrap .footerB .footerR .footB p{

  color: white;
  font-size: 11pt;
  line-height: 1.5;
}
footer .wrap .footerB .footerR .footB ul{

  padding-left: 19px;
}
footer .wrap .footerB .footerR .footB ul li{

}
footer .wrap .footerB .footerR .footB ul li p{
   
}