section#now {

}
section#now .n_top {

    padding-bottom: 37px;
}
section#now .n_top>ul{
    
    justify-content: space-between;
    margin-top: 61px;
    align-items: center;
    position: relative;
}
section#now .n_top ul.sns {

    display: flex;
    align-items: center;
}
.sns li{
  
}

.sns li:nth-child(3) a{ 
  background-image:url(../img/sns/ico_sns_facebook.svg)
}
.sns li:nth-child(4) a{
    background-image:url(../img/sns/ico_sns_kakaoplus.svg)
}
.sns li:nth-child(5) a{
    background-image:url(../img/sns/ico_sns_blog.svg) 
}
.sns li:nth-child(6) a{
    background-image:url(../img/sns/ico_sns_insta.svg)
}
.sns li:nth-child(7) a{
    background-image:url(../img/sns/ico_sns_youtube.svg)
}

section#now .n_top ul li {

    padding-left: 32px;
}
section#now .n_top ul li p {

  font-size: 26pt;
  font-weight: bold;
}
section#now .n_top ul li p b.red{
  color:#d22259;
}
section#now .n_top ul li p b.red::before{
    content:"";
    display: block;
    background-image:url(https://www.gjcity.go.kr/portal/img/main/ico_gallery_title.svg);
    
    width: 73px;
    height: 89px;
    position: absolute;
    left: 20px;
    background-position-y: 0px;
    top: -32px;
}
section#now .n_top ul ul.listL {

    display: flex;
    align-items: center;
}
.listL li{
    
}
.listL li a{
    
    font-size: 14pt;
    display: block;
    font-weight: bold;
    color: #666666;
}
.listL li:first-child a::before{
    content:"";
    display: flex;
    width: 30px;
    height: 30px;
    color:white;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-image: url(https://www.gjcity.go.kr/portal/img/main/ico_gallery_on.svg); 
    background-size: contain;
    background-position: center;
}
.listL li:first-child a{
    
    color: #d22259;
    display: flex;
    align-items: center;
}
section#now .n_top ul ul.listL li:last-child a {

    border: 1px solid #e1e1e1;
    border-radius: 50%;
    padding: 20px;
    background-image: url(https://www.gjcity.go.kr/portal/img/main/ico_gallery_more.svg);
    font-size: 0;
    background-size: 36%;
    background-position: center;
    background-repeat: no-repeat;
}
section#now .n_top ul ul.sns li a {

    width: 40px;
    height: 40px;
    display: block;
    font-size: 0;
}
section#now .n_bottom {

}
section#now .n_bottom ul {

}
section#now .n_bottom ul li {
    border: 1px solid #eee;
    width: calc((100% - 90px) / 4);
    border-radius: 50px 10px 10px 10px;
    height: 328px;
    position: relative;
}
section#now .n_bottom ul li:not(:last-child){
    margin-right:30px;
}
section#now .n_bottom ul li a {

    height: 328px;
    display: block;
    color: #333333;
    font-weight: bold;
}
section#now .n_bottom ul li:nth-child(2) a{
    padding: 45px;
    
}
section#now .n_bottom ul li:first-child a::before{
content:"";
    display: block;
    width: 326px;
    height: 173px;
    background-image:url(../img/now1.jpg);
    background-size: contain;
border-radius: 50px 10px 10px 0;
}
section#now .n_bottom ul li:nth-child(3) a::before{
content:"";
    display: block;
    width: 326px;
    height: 173px;
    background-image:url(../img/now3.png);
    background-size: contain;
border-radius: 50px 10px 10px 0;
}
section#now .n_bottom ul li:nth-child(4) a::before{
content:"";
    display: block;
    width: 326px;
    height: 173px;
    background-image:url(../img/now4.jpg);
    background-size: contain;
border-radius: 50px 10px 10px 0;
}
section#now .n_bottom ul li a p {

    padding-top: 23px;
}

section#now .n_bottom ul li a p.date {

    padding-top: 10px;
    color: #b2b2b2;
    position: absolute;
    bottom: 21px;
    left: 21px;
}