
@media screen and (max-width:1024px){

  .wrap{
    padding:0 15px;
    max-width: 1024px;
  }
  /* header */

 header .wrap{
 }
  
  header .wrap .mobile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
  }
  header .wrap .mobile h1{
    color: #04347a;
    font-weight: bold;

    display: flex;
    align-items: center;
    background-color: #f4f4f4;
    width: 140px;
    padding: 7px 6px;
    border-radius: 18px;
  }
  header .wrap .mobile h1::before{
    content:"";
        background-image: url(https://www.gjcity.go.kr/portal/img/common/ico_tnb_home.svg);
    background-repeat: no-repeat;
    display: block;
    width: 25px;
    height: 23px;
    padding-right: 7px;
  }
  
  header .wrap .mobile h1::after{
    background-image:url(https://www.gjcity.go.kr/portal/img/common/ico_dropdown.svg);
       content:"";
    background-repeat: no-repeat;
    display: block;
    width: 7px;
    height: 4px;
    margin-left: 10px;
  }
  header .wrap .mobile a{
  background-color: #e6e3e3;
  border-radius: 20px;
  padding: 7px;
  font-weight: bold;
  display: flex;
  align-items: center;
}
header .wrap .mobile a::before{
  background-image:url(https://www.gjcity.go.kr/portal/img/common/ico_tnb_lang.svg);
  display: block;
  width: 22px;
  height: 22px;
  content:"";
  background-size: contain;
  padding-right: 10px;
  background-repeat: no-repeat;
}
header .wrap .mobile a::after{
  content:"";
  background-image:url(../img/arrow.png);
  width: 8px;
  height: 6px;
  display: block;
  padding-left: 8px;
  background-repeat: no-repeat;
  background-position-x: 4px;
}
 header .wgnb{
height: 0;
padding-bottom: 29px;
 }
 header .wgnb ul.home{
display: none;
 }
 
 header .gnb{
margin-top: -22px;
 }
/*  border line  */
 header .gnb::before{
  content:"";
  border-top: 1px solid #ddd;
  position: absolute;
  left: 0;
  right: 0;
  content: "";
  top: 43px;
 }
 header .gnb h1{
transform: scale(0.8);
   margin-left: -10px;
 }
 header .gnb ul.logo{
 display: none;
 }
 
 header .gnb ul.search li a{
width: 58px;
height: 55px;
 }
 
 header .gnb ul.search li:nth-child(1) a::before{
top: 28px;
    left: 18px;

 }
 header .gnb ul.search li:nth-child(1) a::after{
top: 20px;
  left: 26px;
 }
 
 header .gnb ul.search li:nth-child(2) a::before{
left: 25%;
    top: 27%;
 }
 header .gnb ul.search li:nth-child(2) a::after{
top: 39px;
  left: 31px;
 }


 /* title */
 
 #title .wrap .top{
flex-direction: column-reverse;
 }
 #title .wrap .top .left_top{
margin-top: 20px;
 }
 #title .wrap .top .left_top p{
font-size: 0;
width: 91%;
margin-left: 15px;
 }
 
 #title .wrap .top .right_top{
   display: flex;
   justify-content: center;
   align-items: center;
 }
 
 #title .wrap .top .right_top .dday a{
width: 222px;
  height: 27px;
   background-size: contain;
   background-repeat: no-repeat;
 }
 
 
 #title .wrap .top .left_top input{
width: 100%;
 }
 
 #title .wrap .middle{
flex-direction: column;
   margin-top: 51px;
 }
 
 #title .wrap .middle .left_bottom::before{
  width: 100%;
  height: 36%;
  top: 74px;
  border-radius: 0;
 }
 #title .wrap .middle .left_bottom a{ 
width: 892px;
height: 463px;
 }
 
 #title .wrap .middle .mmr{
padding: 0 15px;
 }
 #title .wrap .middle .mmr::after{
width: 981px;
height: 142px;
top: 888px;
box-shadow: 1px 1px 37px #eee;
right: 20px;
left: 20px;
border-radius: 29px;
 }
 #title .wrap .middle .mayer::after{
width: 193px;
  height: 167px;
  margin-left: 0;
  margin-top: 0;
 }
 #title .wrap .middle .mmr .man{
width: 100%;
 }
 #title .wrap .middle .mmr .man ul {
display: flex;
width: 100%;
 }
 #title .wrap .middle .mmr .man ul li {
   margin-right: 15px;
 }
 #title .wrap .middle .mmr .man ul li a{
margin-right: 0;
  padding: 0 0px 0 15px;
  font-size: 10pt;
 }
#title .wrap .middle .mmr .man ul li a::after{
  content:">";
  
  margin-left: 20px;
  margin-right: 10px;
}
 #title .wrap .middle .road{
grid-row: 2;
  grid-column: 1 / span 2;
  justify-self: center;
background-color: white;
width: 938px;
height: 139px;
display: flex;
justify-content: center;
 }
 

 /* board */


#board .wrap{
flex-direction: column;
}
#board .b_left {
width: 100%;
}

#board .b_left .b_top ul {
display: flex;
justify-content: center;
}
#board .b_left .b_top ul li a {
font-size: 11pt;
}

#board .b_right article {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
}
#board .b_right article span{
justify-self: center;
grid-column: 1 / span 2;
width: 32%;
margin-top: 2px;
}

#board .b_right article a.mobile{
    background-image: url(../img/view2.png);
  display: block;
  width: 490px;
  height: 350px;
  border-radius: 26px;
}
/* now */

section#now .n_top>ul{
flex-direction: column;
}
section#now .n_top ul.sns {
  padding-bottom: 23px;
}

section#now .n_top ul li {
width: 100%;
  padding-right:8px;
}
section#now .n_top ul.listL li{
  width: auto;
  padding-left: 0;
  margin-right: 10px;
}
section#now .n_top ul.listL li:last-child{
  display: none;
}
section#now .n_top ul li:nth-child(n+3){
 padding-left: 0;
  margin-left: 0px;
}
section#now .n_top ul.sns li:nth-child(2) {
padding-left: 0;
width: 607%;
margin-left: 347px;
}

section#now .n_top ul li p b.red::before{
left: 321px;
  top: -43px;
}
section#now .n_top ul ul.listL {
justify-content: center;
}

section#now .n_bottom a.mobile{
  display: flex;
  justify-content: center;
  border: 1px solid #dddddd;
  margin: 17px 0;
  padding: 12px 0;
  color: #333333;
  font-weight: bold;
  border-radius: 29px;
}


  
section#now .n_bottom ul li:not(:last-child){
width: calc(100% / 3);
margin-right: 10px;
}

/* tip */

 #tip .wrap {
border-radius: 0;
padding: 37px;
 }

 #tip .wrap .topB > ul {
display: grid;
  grid-template-columns: 56% 44%;
  grid-template-rows: auto auto;
 }
 #tip .wrap .topB > ul > li {
 width:initial !important;
 }
 #tip .wrap .topB > ul > li:nth-child(1) {
 grid-column: 2;
  grid-row: 2;

 }
 #tip .wrap .topB > ul > li:nth-child(2) {
grid-column: 1 / span 2;
  grid-row: 1;
 }
 #tip .wrap .topB > ul > li:nth-child(2) ul{
padding: 17px;
 }
 #tip .wrap .topB > ul > li:nth-child(2) ul li{ 
 }
 #tip .wrap .topB > ul > li:nth-child(2) ul li p{
width:252px;
height: 100px;
 }
 #tip .wrap .topB > ul > li:nth-child(2) ul li p::after{
margin-top: 5px;
 }


 #tip .wrap .topB > ul > li:nth-child(3) {
 grid-column: 1;
  grid-row: 2;
 }


 /* map */ 
 #map .wrap{
display: flex;
  flex-direction: column;
position: relative;
 }
 #map .wrap::before{
border-radius: 0;
   width: 1284px;
  height: 1260px;
 }
 #map .wrap .mapR{
   width: 100%;
 }
 
 #map .wrap .mapR ul{
display: flex;
  justify-content: center;

 }
 #map .wrap .mapR ul li:nth-child(2){
display: none;
 }

 #map .wrap .mapR ul li:nth-child(3){
display: none;
 }
 #map .wrap .mapR ul li:nth-child(4){
display: none;
 }
 #map .wrap .mapR ul li:last-child{
   display: none;
 }

 

 #map .wrap .mapL{
width: 664px;
  height: 738px
 }
#map .wrap .mapL::after{
  content:"";
  display: block;
  background-image: url(../img/map.1024.jpg);
  width: 925px;
  height: 665px;
  position: absolute;
  left: 0;
  top: 146px;
}
 #map .wrap .mapL figure{
 width: 664px;
  height: 738px
 }
 
 #map .wrap .mapL figure img{
   display: none;
 }

#map .wrap .mobile{
  display: block;
}
#map .wrap .mobile li:nth-child(1){
  position: relative;
  z-index: 1;
}
#map .wrap .mobile li:nth-child(2){
  background-color: white;
  border-radius: 35px 35px 0 0;
  padding-top: 48px;
  margin-top: -21px;
  padding-bottom: 23px;
}
#map .wrap .mobile li:nth-child(3){
  background-color: #37375b;
  border-radius: 0 0 35px 35px;
  margin-bottom: 9px;
}
#map .wrap .mobile li:nth-child(4){

}
#map .wrap .mobile li:nth-child(1) p{
  background-color: #d22259;
  color: white;
  width: 131px;
  text-align: center;
  border: 1px solid;
  border-radius: 25px;
  padding: 17px 7px;
    padding-left: 7px;
  font-size: 14pt;
  font-weight: bold;
  background-image: url(https://www.gjcity.go.kr/portal/img/main/ico_map_title.svg);
  background-repeat: no-repeat;
  background-position: 29px;
  padding-left: 23px;
}
#map .wrap .mobile li:nth-child(2) p{
  color: #222222;
  font-weight: bold;
  line-height: 29px;
  margin-left: 47px;
}

#map .wrap .mobile li:nth-child(3) p{
  color: white;
  font-weight: bold;
  margin-left: 69px;
  padding-top: 11px;
  padding-bottom: 33px;
}
#map .wrap .mobile li:nth-child(3) p::before{
  content: "";
  background-image: url(https://www.gjcity.go.kr/portal/img/main/ico_map_detail_map.svg);
  background-repeat: no-repeat;
  display: block;
  width: 25px;
  height: 25px;
  transform: translatex(-116%) translateY(82%);
}
#map .wrap .mobile li:nth-child(4) a{
  border: 1px solid #767756;
  border-radius: 27px;
  padding: 16px 46px;
    padding-right: 46px;
  font-size: 11pt;
  color: #37375b;
  position: absolute;
  right: 41%;
  bottom: -67px;
  background-image: url(https://www.gjcity.go.kr/portal/img/main/ico_dong_more.svg);
  background-repeat: no-repeat;
  background-position: 114px 6px;
  padding-right: 75px;
}
 /* banner  */
 section#banner{
margin-top: -244px;
 }

section#banner .wrap ul li:first-child{
  display: none;
}

 section#banner .wrap ul li a{
font-size: 11pt;
 }

 section#banner .wrap ul li:not(:last-child) a{
padding-right: 14px;
 }
 

 /* footer */
 
 footer .wrap .footerT ul{
margin-left: -15px;
 }

 footer .wrap .footerB{
flex-direction: column;
 }
 
 footer .wrap .footerB .footerL .footLL{
display: none;
 }
  
footer .wrap .footerB .footerL .footLR .footLLR div{
  display: none;
}

footer .wrap .footerB .mobile{
display:none;}
footer .wrap .footerB .mobile i{
display: block;
  width: 87px;
  height: 66px;
  background-repeat: no-repeat;
}
footer .wrap .footerB .mobile i:first-child{
   background-image: url(https://www.eprivacy.or.kr/images/mng/sub/mark1_eprivacy.png);
}
footer .wrap .footerB .mobile i:last-child{
    background-image: url( https://www.gjcity.go.kr/common/img/common/ico_wa.png);
}

}