
@media screen and (max-width:640px) {
   /* header */

header{

 }
 .wrap{
   max-width: 640px;
 }
 header .wgnb{
padding-bottom: 16px;
 }
 header .wgnb ul.home{

 }
 header .wgnb ul.home::after{

 }
 header .wgnb ul.home li{
 
 }
 
 header .wgnb ul.home span.dot{

     
 }
 header .wgnb ul.home li a{

 }   
 
 header .wgnb ul.home li:first-child a::before{

 }
 header .wgnb ul.home li:last-child{

 }
 header .wgnb ul.home li:last-child a{

 }
 header .wgnb ul.home li:last-child a::before{

 }
 header .wgnb ul.home li:last-child a::after{

 }
 header .gnb{
padding-bottom: 0px;
height: 88px;
 }
 header .gnb::after{
top: 109px;
 }
 header .gnb h1{

 }
 header .gnb ul.logo{
 
 }
 header .gnb ul.logo li{
 
 }
 header .gnb ul.logo li a{
 
 }
 header .gnb ul.logo>ul{
 
 }
 header .gnb ul.logo>ul li{
 
 }
 header .gnb ul.logo>ul li a{
 
 }
 
 header .gnb ul.search{

 }
 
 header .gnb ul.search li a{

 }
 header .gnb ul.search li:nth-child(1) a{

 }
 header .gnb ul.search li:nth-child(1) a::before{

 }
 header .gnb ul.search li:nth-child(1) a:hover::before{

 }
 header .gnb ul.search li:nth-child(1) a::after{

 }
 
 header .gnb ul.search li:nth-child(1) a:hover::after{

 }
 header .gnb ul.search li:nth-child(2) a::before{

 }
 header .gnb ul.search li:nth-child(2) a::after{
    top: 26px;
    left: 21px;
    width: 8px;
 }


 /* title */
 #title {

 }
 #title .wrap {
 

 }

 #title .wrap .top{

 }
 #title .wrap .top .left_top{
position: relative;
z-index: 4;
padding-bottom: 37px;
 }
 #title .wrap .top .left_top p{
border-bottom: none;
 }
 #title .wrap .top .left_top a{

 }
 #title .wrap .top .left_top a::before{

 }
 #title .wrap .top .left_top a::after{

 }
 #title .wrap .top .right_top{
   flex-direction: column;
 }
 #title .wrap .top .right_top .dday{

 }
 #title .wrap .top .right_top .dday a{

 }
 #title .wrap .top .right_top .dday p{

 }
 
 #title .wrap .top .right_top .weather{

 }
 #title .wrap .top .right_top .weather ul {
   

 }
 #title .wrap .top .right_top .weather ul li{

 }
 #title .wrap .top .right_top .weather ul li:first-child a{

 }
 #title .wrap .top .right_top .weather ul li:nth-child(2) a{

 }
 #title .wrap .top .right_top .weather ul li:nth-child(3) a{

 }
 #title .wrap .top .right_top .weather ul li:nth-child(4) a{

 }
 #title .wrap .top .right_top .weather ul li:last-child a{

 }
 #title .wrap .top .left_top input{
border-bottom: 2px solid white;
 }
 
 #title .wrap .middle{
margin-top: 0px;
position: relative;
z-index: 3;
 }
 #title .wrap .middle .left_bottom{

 }
 #title .wrap .middle .left_bottom::before{
    width: 111%;
    height: 346px;
    left: -16px;
    top: -115px;
 }
 #title .wrap .middle .left_bottom a{ 
width: 598px;
    height: 311px;
 }
 #title .wrap .middle .left_bottom .control{

 }
 #title .wrap .middle .left_bottom .control p{

 }
 #title .wrap .middle .mmr{

 }
 #title .wrap .middle .mmr::after{
display: none;

 }
 #title .wrap .middle .mayer{

 }
 #title .wrap .middle .mayer::after{
position: absolute;
top: 22px;
 }
 #title .wrap .middle .mmr .man{

 }
 #title .wrap .middle .mmr .man ul {
width: 100%;
display: grid;
grid-template-columns: repeat(3,154px);
grid-template-rows: auto auto;
 }
 #title .wrap .middle .mmr .man ul li {
margin-right: 5px;
position: relative;
 }
  #title .wrap .middle .mmr .man ul li:nth-child(1){
    grid-column: 1;
      grid-row: 1;
  }
    #title .wrap .middle .mmr .man ul li:nth-child(2){
    grid-column: 2;
      grid-row: 1;
  }
    #title .wrap .middle .mmr .man ul li:nth-child(3){
    grid-column: 3;
      grid-row: 1;
  }
  #title .wrap .middle .mmr .man ul li:nth-child(4){
    grid-row: 2;
  }
  
 #title .wrap .middle .mmr .man ul li a{
font-size: 12px;
padding: 2px 0 2px 16px;
 }
  #title .wrap .middle .mmr .man ul li a::after{
    position: absolute;
    right: 0;
  }
 #title .wrap .middle .road{
width: 587px;
height: 97px;
border-radius: 13px;
 }
 #title .wrap .middle .road ul{

 }
 #title .wrap .middle .road ul li{
padding: 0px 56px;
  }
 }
 #title .wrap .middle .road ul li a{
 font-size: 15px;
 }
 #title .wrap .middle .road ul li a::before{

 }

 #title .wrap .middle .mmr .man p{

 }
 #title .wrap .middle .mmr .man p span{

 }
 #title .wrap .left {

 }
 #title .wrap .left .left_top {
 
 }
 #title .wrap .left .left_top input {
 
 }
 #title .wrap .left .left_top > a {
 
 }
 #title .wrap .left > a {
 
 }
 #title .wrap .left .left_bottom {
 
 }
 #title .wrap .left .left_bottom > a {
 
 }
 #title .wrap .left .left_bottom .control {
 
 }
 #title .wrap .right {
 
 }
 #title .wrap .right .right_top {
 
 }
 #title .wrap .right .right_top .dday {
 
 }
 #title .wrap .right .right_top .dday > a {
 
 }
 #title .wrap .right .right_top .dday p {
 
 }
 #title .wrap .right .right_top .weather {
 
 }
 #title .wrap .right .right_top .weather > ul {
 
 }
 #title .wrap .right .right_top .weather > ul > li {
 
 }
 #title .wrap .right .right_top .weather > ul > li > a {
 
 }
 #title .wrap .right .right_bottom {
 
 }
 #title .wrap .right .right_bottom .man {
 
 }
 #title .wrap .right .right_bottom .man p {
 
 }
 #title .wrap .right .right_bottom .man > ul {
 
 }
 #title .wrap .right .right_bottom .man > ul > li {
 
 }
 #title .wrap .right .right_bottom .man > ul > li > a {
 
 }
 #title .wrap .right .right_bottom .mayer {
 
 }
 #title .wrap .right .right_bottom .road {
 
 }
 #title .wrap .right .right_bottom .road > ul {
 
 }
 #title .wrap .right .right_bottom .road > ul > li {
 
 }
 #title .wrap .right .right_bottom .road > ul > li > a {
 
 }
 #title .wrap .bottom {

 }
 #title .wrap .bottom::before{
height: 211px;
  top: 940px;
background-color: #ffeded;
 }
 #title .wrap .bottom .fgnb {
padding-top:30px;
padding-bottom: 25px;
 }
 #title .wrap .bottom .fgnb > ul:first-child {

 }
 #title .wrap .bottom .fgnb > ul > li {
 width: 199px;
 }
 #title .wrap .bottom .fgnb > ul:first-child > li > a {

 }
 
 #title .wrap .bottom .fgnb > ul:first-child > li:first-child > a {

 }
 #title .wrap .bottom .fgnb > ul:nth-child(2){

 }
 #title .wrap .bottom .fgnb > ul:nth-child(2) li{
width: calc(100% / 4);
 }
 #title .wrap .bottom .fgnb > ul:nth-child(2) li a{
 }
 #title .wrap .bottom .fgnb > ul:nth-child(2) li a::before{
width: 70px;
height: 70px;
 
 }
 
 #title .wrap .bottom .fgnb > ul:nth-child(2) li a span{
   
 }

 /* board */

 
#board{

}
#board .wrap{

}
#board .b_left {

}
#board .b_left .b_top {

}
#board .b_left .b_top ul {
  display: grid;
  grid-template-columns: repeat(3,140px);
  grid-template-rows: auto auto auto;
}
#board .b_left .b_top ul h2 {

}
#board .b_left .b_top ul li {

}
#board .b_left .b_top>ul>li:nth-child(2){

  
}
#board .b_left .b_top>ul>li:hover{

}

#board .b_left .b_top>ul>li:hover a{

}
#board .b_left .b_top>ul>li:nth-child(2n){

}
#board .b_left .b_top>ul>li:last-child{
grid-column: 3;
  grid-row: 1 / span 3;
display: flex;
justify-content: center;
align-items: center;
font-size: 21px;
}
#board .b_left .b_top>ul>li{
padding: 16px;
text-align: center;
}
}
#board .b_left .b_top ul li a {

}
#board .b_left .b_bottom {

}
#board .b_left .b_bottom .b_b_top {
}
#board .b_left .b_bottom .b_b_top .b_b_left {

}
#board .b_left .b_bottom .b_b_top .b_b_left p {

}
#board .b_left .b_bottom .b_b_top .b_b_left p.b_b_b_top{

}
#board .b_left .b_bottom .b_b_top .b_b_left p.b_b_b_bottom{

}

#board .b_left .b_bottom .b_b_top .b_b_right {

}
#board .b_left .b_bottom .b_b_top .b_b_right h3 {
}
#board .b_left .b_bottom .b_b_top .b_b_right p {
display: none;
}
#board .b_left .b_bottom .b_b_bottom {

}
#board .b_left .b_bottom .b_b_bottom ul {

}
#board .b_left .b_bottom .b_b_bottom ul li {

}
#board .b_left .b_bottom .b_b_bottom ul li h3 {

}
h3.department{
 display: none;
}
#board .b_left .b_bottom .b_b_bottom ul li p {

}
#board .b_left .b_bottom .b_b_bottom ul li p.date {

}
#board .b_left .b_bottom .b_b_bottom ul:nth-child(2) li:nth-child(2) p{
  
}
#board .b_right {

}
#board .b_right article {

}
#board .b_right article span{

}
#board .b_right article a {

}

/* now */
section#now {

}
section#now .n_top {

}
section#now .n_top>ul{
margin-top: 30px;
}
section#now .n_top ul.sns {
padding-top: 10px;
}
section#now .n_top ul.sns li:nth-child(2){
  display: none;
}

.sns li{
  
}


section#now .n_top>ul>li {
width: fit-content;
  padding-right:1px;
}
section#now .n_top ul li p {

}
section#now .n_top ul li p.mobile{
  display: block
}

section#now .n_top ul li p.mobile .red{ 
  color: #d22259;
}
section#now .n_top ul li p.mobile .black{
  
}
section#now .n_top ul li p b.red{

}
section#now .n_top ul li p b.red::before{
left: 189px;
  width: 56px;
  height: 67px;
  top: -24px;
}
section#now .n_top ul ul.listL {

}
.listL li{
    
}
.listL li a{
    
}
.listL li:first-child a::before{

}
.listL li:first-child a{

}
section#now .n_top ul ul.listL li:last-child a {

}
section#now .n_top ul ul.sns li a {
width: 30px;
height: 30px;
  background-size: contain;
}
section#now .n_bottom {

}
section#now .n_bottom ul {

}
section#now .n_bottom ul li {
 height: 262px;
}
section#now .n_bottom ul li:not(:last-child){

}
section#now .n_bottom ul li a {
}
section#now .n_bottom ul li:nth-child(2) a{

    
}
section#now .n_bottom ul li:first-child a::before{
width: 299px;
height: 158px;
}
section#now .n_bottom ul li:nth-child(3) a::before{

}
section#now .n_bottom ul li:nth-child(4) a::before{

}
section#now .n_bottom ul li a p {

}

section#now .n_bottom ul li a p.date {
font-size: 13px;
}

/* tip */

#tip {

 }
 #tip .wrap {
padding: 22px;
 }
 #tip .wrap::before{

 }
 #tip .wrap::after{

 }
 #tip .wrap .topT {
font-size: 23pt;
   padding: 30px 0;
 }
 #tip .wrap .topT strong{

 }
 
 #tip .wrap .topT strong::after{

 }
 #tip .wrap .topT b{

 }
 #tip .wrap .topB {

 }
 #tip .wrap .topB > ul {
grid-template-columns: auto;
grid-template-rows: auto auto auto;
 }
 #tip .wrap .topB > ul > li:nth-child(1) {
 grid-row: 3;
 grid-column: 1;
 }
 #tip .wrap .topB > ul > li:nth-child(2) {
grid-row: 1;
grid-column: 1;
 }
 #tip .wrap .topB > ul > li:nth-child(2) ul{

 }
 #tip .wrap .topB > ul > li:nth-child(2) ul li{ 
   width: fit-content;
 }
 #tip .wrap .topB > ul > li:nth-child(2) ul li p{
padding-top: 20px;
width: 181px;
  height: 82px;
 }
 #tip .wrap .topB > ul > li:nth-child(2) ul li p::after{
width: 81px;
  height: 62px;
background-size: contain;
 }

 #tip .wrap .topB > ul > li:nth-child(2) h4{
font-size: 15pt;
 }
 #tip .wrap .topB > ul > li:nth-child(2) h4 b{ 

 }
 #tip .wrap .topB > ul > li:nth-child(3) {
 grid-row: 2;
 }
 
 #tip .wrap .topB > ul > li:nth-child(3) h4{
font-size: 16pt;
 }
 #tip .wrap .topB > ul > li:nth-child(3) h4 b{

 }
 #tip .wrap .topB > ul > li > ul.local {
width: 100%;
 }
 #tip .wrap .topB > ul > li > ul.local h4 {
 padding: 19px;
 font-size: 14px;
 }
 #tip .wrap .topB > ul > li > ul.local div{

 }
 #tip .wrap .topB > ul > li > ul.local div li{
font-size: 13px;
   padding: 7px 0;
 }
 
 #tip .wrap .topB > ul > li > ul.local div li::before{


 }
 
 
 #tip .wrap .topB > ul > li > ul.local div li::after{

 }
 #tip .wrap .topB > ul > li > ul h4::after{
width: 83px;
  height: 78px;
background-size: contain;
top: 6px;
 }
 #tip .wrap .topB > ul > li > ul h4 b{

 }
 #tip .wrap .topB > ul > li > ul.local > li {

 }
 #tip .wrap .topB > ul li > div {
width: 100%;
 }
 #tip .wrap .topB > ul li > div .storyT{

 }
 
 #tip .wrap .topB > ul li > div .storyT::after{
margin-right: 378px;
 }
 #tip .wrap .topB > ul li > div .storyT>div{
 right: 290px;
 }
 #tip .wrap .topB > ul li > div .storyT p:nth-child(1){

 }
 #tip .wrap .topB > ul li > div .storyT p:nth-child(2){

 }
 #tip .wrap .topB > ul li > div .storyT p strong{

 }
 #tip .wrap .topB > ul li > div .storyB{
   right: 23px;
   width: 329px;
 }
 #tip .wrap .topB > ul li > div .storyB p{

 }
 
 #tip .wrap .topB > ul li > div .storyB p:nth-child(1){

 }
 
 #tip .wrap .topB > ul li > div .storyB p:nth-child(2){

 }
 #tip .wrap .topB > ul li > div h5 {
 
 }
 #tip .wrap .topB > ul li > div h5 > div {
 
 }
 #tip .wrap .topB > ul li > div h5 > div p {
 
 }

 /* map */
 #map{
 margin-top: 0px;
 }
 
 #map .wrap{
 

 }
 #map .wrap::before{

 }
 #map .wrap .mapR{
padding-top: 50px;
 }
 
 #map .wrap .mapR ul{

 }
 #map .wrap .mapR ul li:nth-child(2){

 }
 #map .wrap .mapR ul li:first-child{

 }
 #map .wrap .mapR ul li:nth-child(3){

 }
 #map .wrap .mapR ul li:nth-child(4){

 }
 #map .wrap .mapR ul li:last-child{
   
 }
 #map .wrap .mapR ul li:first-child p {
font-size: 20pt;
 }
 #map .wrap .mapR ul li:nth-child(2) p{

 }
 
 #map .wrap .mapR ul li:nth-child(3) p{

 }
 #map .wrap .mapR ul li:nth-child(4) p{

 }
 #map .wrap .mapR ul li:nth-child(4) p::before{

 }
 #map .wrap .mapR ul li:last-child a{
   

 }
 #map .wrap .mapR ul li p strong{

 }
 #map .wrap .mapL{

 }
#map .wrap .mobile li:nth-child(1) p{
  padding: 12px 5px 12px 21px;
  font-size: 12pt;
}
#map .wrap .mobile li:nth-child(2) p {
  font-size: 13px;
}
#map .wrap .mobile li:nth-child(3) p {
  font-size: 13px;
  padding-top: 1px;
  padding-bottom: 26px;
}
#map .wrap .mobile li:nth-child(4) a{
  padding: 13px 24px;
  padding-right: 53px;
  background-position: 93px 6px;
}
 #map .wrap .mapL figure{
 
 }
 
 #map .wrap .mapL figure img{

 }
 /* banner  */
 section#banner{

 }
 section#banner::before{

 }
 
 section#banner .wrap{
 
 }
 section#banner .wrap ul{

 }
 
 section#banner .wrap ul li{
font-size: 13px;
 }
 section#banner .wrap ul li:last-child ul{
 
 }
 section#banner .wrap ul li a{

 }
 section#banner .wrap ul li:last-child ul li{
   
 }
section#banner .wrap ul li:last-child ul li:nth-child(5){
  display: none;
}

 section#banner .wrap ul li:last-child ul li a{

 }
 section#banner .wrap ul li:not(:last-child) a{

 }
 
 section#banner .wrap ul li:last-child a{
   
 }

 /* footer */
 footer{

 }
 
 footer .wrap{

 }
 footer .wrap .footerT{
 
 }
 
 footer .wrap .footerT ul{
flex-direction: column;
padding: 0;
 }
 footer .wrap .footerT ul li{
padding: 21px;
  width: 100%;
border-bottom: 1px solid #5c6776;
 }
 footer .wrap .footerT ul li a::after{
  bottom: 12px;
   right: 32px;
 }
 footer .wrap .footerT ul li a{
   padding: 0;
   font-size: 15px;
}
 }
 footer .wrap .footerT::after{

 }
 footer .wrap .footerT ul li:first-child a{

 }
 footer .wrap .footerT ul li:nth-child(2) a{
    
 }
 footer .wrap .footerT ul li:last-child a{

 }
 footer .wrap .footerB{

 }
 
 footer .wrap .footerB .footerL{

 }
 footer .wrap .footerB .footerL .footLL{

 }
 footer .wrap .footerB .footerL .footLL i{

 }
 footer .wrap .footerB .footerL .footLR{
 
 }
 footer .wrap .footerB .footerL .footLR .footLLR{
 
 }
 footer .wrap .footerB .footerL .footLR .footLLR ul{
display: grid;
   grid-template-columns: repeat(5,auto);
   grid-template-rows: auto auto;
row-gap: 4px;
 }
 footer .wrap .footerB .footerL .footLR .footLLR p{

 }   
 footer .wrap .footerB .footerL .footLR .footLLR p:nth-child(2){
font-size: 13px;
 }
 footer .wrap .footerB .footerL .footLR .footLLR p:nth-child(3){
   font-size: 12px;

 }
 footer .wrap .footerB .footerL .footLR .footLLR i{

 }

 footer .wrap .footerB .footerL .footLR .footLLR ul li{
 
 }
  footer .wrap .footerB .footerL .footLR .footLLR ul li:nth-child(1){
 
 }
 footer .wrap .footerB .footerL .footLR .footLLR ul li:nth-child(3){
 grid-column: 2;
   grid-row: 1;
 }
 footer .wrap .footerB .footerL .footLR .footLLR ul li:nth-child(5){
 grid-column: 3;
   grid-row: 1;
 }
 footer .wrap .footerB .footerL .footLR .footLLR ul li:nth-child(7){
 grid-column: 4;
   grid-row: 1;
 }
 footer .wrap .footerB .footerL .footLR .footLLR ul li:nth-child(9){
 grid-column: 5;
   grid-row: 1;
 }
 footer .wrap .footerB .footerL .footLR .footLLR ul li:nth-child(11){
 
 }
 
 
 
 footer .wrap .footerB .footerL .footLR .footLLR ul li a{
font-size: 14px;
 }
 footer .wrap .footerB .footerL .footLR .footLLR ul li:first-child a{
 }
 footer .wrap .footerB .footerR{
 
 }
 footer .wrap .footerB .footerR .footT{

 }
 footer .wrap .footerB .footerR .footT p{
 font-size: 12px
 }
 footer .wrap .footerB .footerR .footT p.call{

 }
 footer .call{

 }
 footer .wrap .footerB .footerR .footB{
 
 }
 footer .wrap .footerB .footerR .footB p{
  font-size: 12px
 }
footer .wrap .footerB .footerR .footB div{
  width: 451px;
}
 footer .wrap .footerB .footerR .footB ul{

 }
 footer .wrap .footerB .footerR .footB ul li{
 
 }
footer .wrap .footerB .footerR .footB ul li.mobile{
  display: none;
}
 footer .wrap .footerB .footerR .footB ul li p{
    
 }
footer .wrap .footerB .mobile{
  margin-top: 10px;
  margin-bottom: 30px;
}
}
}