
@media screen and (max-width:780px) {
   /* header */

header{

 }
 .wrap{
   
 }
 header .wgnb{

 }
 header .wgnb ul.home{

 }
 header .wgnb ul.home::after{

 }
 header .wgnb ul.home li{
 
 }
 
 header .wgnb ul.home span.dot{

     
 }
 header .wgnb ul.home li a{

 }   
 
 header .wgnb ul.home li:first-child a::before{

 }
 header .wgnb ul.home li:last-child{

 }
 header .wgnb ul.home li:last-child a{

 }
 header .wgnb ul.home li:last-child a::before{

 }
 header .wgnb ul.home li:last-child a::after{

 }
 header .gnb{

 }
 header .gnb::after{

 }
 header .gnb h1{

 }
 header .gnb ul.logo{
 
 }
 header .gnb ul.logo li{
 
 }
 header .gnb ul.logo li a{
 
 }
 header .gnb ul.logo>ul{
 
 }
 header .gnb ul.logo>ul li{
 
 }
 header .gnb ul.logo>ul li a{
 
 }
 
 header .gnb ul.search{

 }
 
 header .gnb ul.search li a{

 }
 header .gnb ul.search li:nth-child(1) a{

 }
 header .gnb ul.search li:nth-child(1) a::before{

 }
 header .gnb ul.search li:nth-child(1) a:hover::before{

 }
 header .gnb ul.search li:nth-child(1) a::after{

 }
 
 header .gnb ul.search li:nth-child(1) a:hover::after{

 }
 header .gnb ul.search li:nth-child(2) a::before{

 }
 header .gnb ul.search li:nth-child(2) a::after{

 }


 /* title */
 #title {
    background-color: #fff8f7;
 }
 #title .wrap {
 

 }
 #title .wrap .top{

 }
 #title .wrap .top .left_top{

 }
 #title .wrap .top .left_top p{

 }
 #title .wrap .top .left_top a{

 }
 #title .wrap .top .left_top a::before{

 }
 #title .wrap .top .left_top a::after{

 }
 #title .wrap .top .right_top{
 }
 #title .wrap .top .right_top .dday{

 }
 #title .wrap .top .right_top .dday a{

 }
 #title .wrap .top .right_top .dday p{

 }
 
 #title .wrap .top .right_top .weather{

 }
 #title .wrap .top .right_top .weather ul {
   

 }
 #title .wrap .top .right_top .weather ul li{

 }
 #title .wrap .top .right_top .weather ul li:first-child a{

 }
 #title .wrap .top .right_top .weather ul li:nth-child(2) a{

 }
 #title .wrap .top .right_top .weather ul li:nth-child(3) a{

 }
 #title .wrap .top .right_top .weather ul li:nth-child(4) a{

 }
 #title .wrap .top .right_top .weather ul li:last-child a{

 }
 #title .wrap .top .left_top input{

 }
 
 #title .wrap .middle{

 }
 #title .wrap .middle .left_bottom{

 }
 #title .wrap .middle .left_bottom::before{

 }
 #title .wrap .middle .left_bottom a{ 
width: 739px;
height: 386px;
 }
 #title .wrap .middle .left_bottom .control{

 }
 #title .wrap .middle .left_bottom .control p{

 }
 #title .wrap .middle .mmr{

 }
 #title .wrap .middle .mmr::after{
top: 792px;
height: 112px;
box-shadow: 1px 1px 7px #d5d5d5;
 }
 #title .wrap .middle .mayer{
margin-left: -153px;
   position: relative;
   z-index: -1;
   margin-top: -13px;
  }
 }
 #title .wrap .middle .mayer::after{
 margin-top: -8px;
}

 #title .wrap .middle .mmr .man{

 }
 #title .wrap .middle .mmr .man ul {

 }
 #title .wrap .middle .mmr .man ul li {

 }
 #title .wrap .middle .mmr .man ul li a{

 }
 #title .wrap .middle .road{
width: 720px;
    height: 97px;
 }
 #title .wrap .middle .road ul{

 }
 #title .wrap .middle .road ul li{

 }
 #title .wrap .middle .road ul li a{
 
 }
 #title .wrap .middle .road ul li a::before{

 }

 #title .wrap .middle .mmr .man p{

 }
 #title .wrap .middle .mmr .man p span{

 }
 #title .wrap .left {

 }
 #title .wrap .left .left_top {
 
 }
 #title .wrap .left .left_top input {
 
 }
 #title .wrap .left .left_top > a {
 
 }
 #title .wrap .left > a {
 
 }
 #title .wrap .left .left_bottom {
 
 }
 #title .wrap .left .left_bottom > a {
 
 }
 #title .wrap .left .left_bottom .control {
 
 }
 #title .wrap .right {
 
 }
 #title .wrap .right .right_top {
 
 }
 #title .wrap .right .right_top .dday {
 
 }
 #title .wrap .right .right_top .dday > a {
 
 }
 #title .wrap .right .right_top .dday p {
 
 }
 #title .wrap .right .right_top .weather {
 
 }
 #title .wrap .right .right_top .weather > ul {
 
 }
 #title .wrap .right .right_top .weather > ul > li {
 
 }
 #title .wrap .right .right_top .weather > ul > li > a {
 
 }
 #title .wrap .right .right_bottom {
 
 }
 #title .wrap .right .right_bottom .man {
 
 }
 #title .wrap .right .right_bottom .man p {
 
 }
 #title .wrap .right .right_bottom .man > ul {
 
 }
 #title .wrap .right .right_bottom .man > ul > li {
 
 }
 #title .wrap .right .right_bottom .man > ul > li > a {
 
 }
 #title .wrap .right .right_bottom .mayer {
 
 }
 #title .wrap .right .right_bottom .road {
 
 }
 #title .wrap .right .right_bottom .road > ul {
 
 }
 #title .wrap .right .right_bottom .road > ul > li {
 
 }
 #title .wrap .right .right_bottom .road > ul > li > a {
 
 }
 #title .wrap .bottom {

 }
 #title .wrap .bottom::before{
  height: 278px;
  top: 940px;
 }
 #title .wrap .bottom .fgnb {

 }
 #title .wrap .bottom .fgnb > ul:first-child {
flex-wrap: wrap;
width: 100%;
gap: 4px;
 }
 #title .wrap .bottom .fgnb > ul > li {
width: 239px;
}
 #title .wrap .bottom .fgnb > ul:first-child > li > a {
display: block;
text-align: center;
font-size: 11pt;
 }
 
 #title .wrap .bottom .fgnb > ul:first-child > li:first-child > a {

 }
 #title .wrap .bottom .fgnb > ul:nth-child(2){
justify-content: space-evenly;
align-items: center;
 }
 #title .wrap .bottom .fgnb > ul:nth-child(2) li{

 }
#title .wrap .bottom .fgnb > ul:nth-child(2) li:nth-child(n+5){
   display: none;
}
 #title .wrap .bottom .fgnb > ul:nth-child(2) li a{
width: 168px;
display: flex;
 }

 #title .wrap .bottom .fgnb > ul:nth-child(2) li:first-child a::before{
 margin-bottom: 9px;
 }
 
 #title .wrap .bottom .fgnb > ul:nth-child(2) li a span{
   
 }

 /* board */

 
#board{

}
#board .wrap{

}
#board .b_left {

}
#board .b_left .b_top {

}
#board .b_left .b_top ul {

}
#board .b_left .b_top ul h2 {

}
#board .b_left .b_top ul li {

}
#board .b_left .b_top>ul>li:nth-child(2){
border-radius: 26px 0 0 0;  
}
#board .b_left .b_top>ul>li:nth-child(6){
border-radius:0 0 0 26px;  
}
#board .b_left .b_top>ul>li:hover{

}

#board .b_left .b_top>ul>li:hover a{

}
#board .b_left .b_top>ul>li:nth-child(2n){

}
#board .b_left .b_top>ul>li:last-child{

}
#board .b_left .b_top>ul>li{
padding: 19px 26px;
}
#board .b_left .b_top ul li a {
font-size: 10pt;
display: block;
}
#board .b_left .b_bottom {
padding: 25px 30px;
}
#board .b_left .b_bottom .b_b_top {
}
#board .b_left .b_bottom .b_b_top .b_b_left {

}
#board .b_left .b_bottom .b_b_top .b_b_left p {

}
#board .b_left .b_bottom .b_b_top .b_b_left p.b_b_b_top{

}
#board .b_left .b_bottom .b_b_top .b_b_left p.b_b_b_bottom{

}

#board .b_left .b_bottom .b_b_top .b_b_right {

}
#board .b_left .b_bottom .b_b_top .b_b_right h3 {

}
#board .b_left .b_bottom .b_b_top .b_b_right p {

}
#board .b_left .b_bottom .b_b_bottom {

}

#board .b_left .b_bottom .b_b_bottom ul li{

}
h3.department{
 
}
#board .b_left .b_bottom .b_b_bottom ul li h3 {
font-size: 10pt;
width: 80px;
}
#board .b_left .b_bottom .b_b_bottom ul li p.manifest {
margin-left: 34px;
font-size: 14px;
}
#board .b_left .b_bottom .b_b_bottom ul li p.date {
  font-size: 13px;
}
#board .b_left .b_bottom .b_b_bottom ul:nth-child(2) li:nth-child(2) p{
  margin-left: -44px;
}
#board .b_right {

}
#board .b_right article {

}
#board .b_right article span{

}
#board .b_right article a {

}
#board .b_right article a.mobile{
   display: none;
}
/* now */
section#now {

}
section#now .n_top {

}
section#now .n_top>ul{

}
section#now .n_top ul.sns {

}
.sns li{
  
}


section#now .n_top ul li {

}
section#now .n_top ul li p {

}
section#now .n_top ul li p b.red{

}
section#now .n_top ul li p b.red::before{

}
section#now .n_top ul ul.listL {

}
.listL li{
    
}
.listL li a{
    
}
.listL li:first-child a::before{

}
.listL li:first-child a{

}
section#now .n_top ul ul.listL li:last-child a {

}
section#now .n_top ul ul.sns li a {

}
section#now .n_bottom {

}
section#now .n_bottom ul {

}
section#now .n_bottom ul li:nth-child(-n+2){
   width: calc(100% / 2);

}
section#now .n_bottom ul li:nth-child(3){
  display: none;
}
section#now .n_bottom ul li {
 
}
section#now .n_bottom ul li:last-child{
display: none;
}
section#now .n_bottom a.mobile{
   font-size: 14px;
}
section#now .n_bottom ul li a {

}
section#now .n_bottom ul li:nth-child(2) a{

    
}
section#now .n_bottom ul li:first-child a::before{

}
section#now .n_bottom ul li:nth-child(3) a::before{

}
section#now .n_bottom ul li:nth-child(4) a::before{

}
section#now .n_bottom ul li a p {

}

section#now .n_bottom ul li a p.date {

}

/* tip */

#tip {

 }
 #tip .wrap {

 }
 #tip .wrap::before{

 }
 #tip .wrap::after{

 }
 #tip .wrap .topT {

 }
 #tip .wrap .topT strong{

 }
 
 #tip .wrap .topT strong::after{

 }
 #tip .wrap .topT b{

 }
 #tip .wrap .topB {

 }
 #tip .wrap .topB > ul {

 }
 #tip .wrap .topB > ul > li:nth-child(1) {
 
 }
 #tip .wrap .topB > ul > li:nth-child(2) {

 }
 #tip .wrap .topB > ul > li:nth-child(2) ul{

 }
 #tip .wrap .topB > ul > li:nth-child(2) ul li{ 
width: 201px;
 }
 #tip .wrap .topB > ul > li:nth-child(2) ul li p{

 }
 #tip .wrap .topB > ul > li:nth-child(2) ul li p::after{

 }

 #tip .wrap .topB > ul > li:nth-child(2) h4{
   
 }
 #tip .wrap .topB > ul > li:nth-child(2) h4 b{ 

 }
 #tip .wrap .topB > ul > li:nth-child(3) {
 }
 
 #tip .wrap .topB > ul > li:nth-child(3) h4{

 }
 #tip .wrap .topB > ul > li:nth-child(3) h4 b{

 }
 #tip .wrap .topB > ul > li > ul.local {
width: 313px;
 }
 #tip .wrap .topB > ul > li > ul.local h4 {
 padding: 22px 24px;
 }
 #tip .wrap .topB > ul > li > ul.local div{

 }
 #tip .wrap .topB > ul > li > ul.local div li{
font-size: 15px;
padding: 9px 0;
margin: 5px 0;
 }
 
 #tip .wrap .topB > ul > li > ul.local div li::before{


 }
 
 
 #tip .wrap .topB > ul > li > ul.local div li::after{

 }
 #tip .wrap .topB > ul > li > ul h4::after{

 }
 #tip .wrap .topB > ul > li > ul h4 b{

 }
 #tip .wrap .topB > ul > li > ul.local > li {

 }
 #tip .wrap .topB > ul li > div {
height: 279px;
width: 397px;
}
 }
 #tip .wrap .topB > ul li > div .storyT{

 }
 
 #tip .wrap .topB > ul li > div .storyT::after{
height: 256px;
width: 192px;
margin-right: 179px;
margin-top: 23px;
 }
 #tip .wrap .topB > ul li > div .storyT>div{
  right: 86px;
  top: 32px;
 }
 #tip .wrap .topB > ul li > div .storyT p:nth-child(1){

 }
 #tip .wrap .topB > ul li > div .storyT p:nth-child(2){
font-size: 10pt;
 }
 #tip .wrap .topB > ul li > div .storyT p strong{

 }
 #tip .wrap .topB > ul li > div .storyB{
top: 150px;
width: 144px;
margin-right: 7px;
 }
 #tip .wrap .topB > ul li > div .storyB p{
    padding:16px 42px !important;
    font-size: 13px;
 }
 
 #tip .wrap .topB > ul li > div .storyB p:nth-child(1){
padding-left: 25px;
 }
 
 #tip .wrap .topB > ul li > div .storyB p:nth-child(2){

 }
 #tip .wrap .topB > ul li > div h5 {
 
 }
 #tip .wrap .topB > ul li > div h5 > div {
 
 }
 #tip .wrap .topB > ul li > div h5 > div p {
 
 }

 /* map */
 #map{

 
 }
 
 #map .wrap{
 

 }
 #map .wrap::before{

 }
 #map .wrap .mapR{

 }
#map .wrap .mapL::after{
   left: -102px;
   width: 848px;
   height: 609px;
   background-size: contain;
}
 #map .wrap .mapR ul{

 }
 #map .wrap .mapR ul li:nth-child(2){

 }
 #map .wrap .mapR ul li:first-child{

 }
 #map .wrap .mapR ul li:nth-child(3){

 }
 #map .wrap .mapR ul li:nth-child(4){

 }
 #map .wrap .mapR ul li:last-child{
   
 }
 #map .wrap .mapR ul li:first-child p {

 }
 #map .wrap .mapR ul li:nth-child(2) p{

 }
 
 #map .wrap .mapR ul li:nth-child(3) p{

 }
 #map .wrap .mapR ul li:nth-child(4) p{

 }
 #map .wrap .mapR ul li:nth-child(4) p::before{

 }
 #map .wrap .mapR ul li:last-child a{
   

 }
 #map .wrap .mapR ul li p strong{

 }
 #map .wrap .mapL{
width: 664px;
    height: 580px;
 }
#map .wrap .mobile li:nth-child(1) p{
   padding: 12px 10px 12px 20px;

}
#map .wrap .mobile li:nth-child(2){
   padding-top: 38px;
}
#map .wrap .mobile li:nth-child(2) p{
 font-size: 15px;
}
#map .wrap .mobile li:nth-child(3) p{
   font-size: 14px; 
   padding-top: 6px;
   padding-bottom: 29px;
}
 #map .wrap .mapL figure{
 
 }
 
 #map .wrap .mapL figure img{

 }
 /* banner  */
 section#banner{

 }
 section#banner::before{

 }
 
 section#banner .wrap{
 
 }
 section#banner .wrap ul{

 }
 
 section#banner .wrap ul li{
 
 }
 section#banner .wrap ul li:last-child ul{
 
 }
 section#banner .wrap ul li a{

 }
 section#banner .wrap ul li:last-child ul li{
   
 }
section#banner .wrap ul li:last-child ul li:nth-child(n+6){
   display: none;
}

section#banner .wrap ul li:last-child ul li a{
font-size: 14px;
 }
 section#banner .wrap ul li:not(:last-child) a{

 }
 
 section#banner .wrap ul li:last-child a{
   
 }

 /* footer */
 footer{

 }
 
 footer .wrap{

 }
 footer .wrap .footerT{
 
 }
 
 footer .wrap .footerT ul{

 }
 footer .wrap .footerT ul li{

 }
 footer .wrap .footerT ul li a::after{

 }
 footer .wrap .footerT ul li a{

 }
 footer .wrap .footerT::after{

 }
 footer .wrap .footerT ul li:first-child a{

 }
 footer .wrap .footerT ul li:nth-child(2) a{
    
 }
 footer .wrap .footerT ul li:last-child a{

 }
 footer .wrap .footerB{

 }
 
 footer .wrap .footerB .footerL{

 }
 footer .wrap .footerB .footerL .footLL{

 }
 footer .wrap .footerB .footerL .footLL i{

 }
 footer .wrap .footerB .footerL .footLR{
 
 }
 footer .wrap .footerB .footerL .footLR .footLLR{
 
 }
 footer .wrap .footerB .footerL .footLR .footLLR ul{

 }
 footer .wrap .footerB .footerL .footLR .footLLR p{

 }   
 footer .wrap .footerB .footerL .footLR .footLLR p:nth-child(2){
font-size: 15px;
 }
 footer .wrap .footerB .footerL .footLR .footLLR p:nth-child(3){
   

 }
 footer .wrap .footerB .footerL .footLR .footLLR i{

 }

 footer .wrap .footerB .footerL .footLR .footLLR ul li{
 
 }
 
 
 footer .wrap .footerB .footerL .footLR .footLLR ul li a{
 font-size: 15px;

 }
 footer .wrap .footerB .footerL .footLR .footLLR ul li:first-child a{
 }
 footer .wrap .footerB .footerR{
 
 }
 footer .wrap .footerB .footerR .footT{

 }
 footer .wrap .footerB .footerR .footT p{
 
 }
 footer .wrap .footerB .footerR .footT p.call{

 }
 footer .call{

 }
 footer .wrap .footerB .footerR .footB{
 
 }
 footer .wrap .footerB .footerR .footB p{
 
 }
footer .wrap .footerB .footerR .footB p.mobile{
   display: block;
   padding-left: 19px;
   font-weight: bold;
   font-size: 15pt;
}
 footer .wrap .footerB .footerR .footB ul{
display: flex;
 }
 footer .wrap .footerB .footerR .footB ul li{
 padding-right: 10px;
}
 }
footer .wrap .footerB .footerR .footB ul li.mobile{
   display: none;
}
 footer .wrap .footerB .footerR .footB ul li p{
    
 }
footer .wrap .footerB .mobile{
   display: flex;

}
}