#title {

  position: relative;
  overflow-x: hidden;
}
#title .wrap {

  display: flex;
  flex-direction: column;
}
#title .wrap .top{
  display: flex;
  justify-content: space-between;
}
#title .wrap .top .left_top{
  display: flex;
  align-items: center;
}
#title .wrap .top .left_top p{
  
  font-size: 14pt;
  border-bottom: 2px solid #fff;
  color: white;
  font-weight: bold;
}
#title .wrap .top .left_top a{
  width: 74px;
  height: 68px;
  display: block;
  background-color: white;
  border-radius: 22px;
  margin-left: 31px;
}
#title .wrap .top .left_top a::before{
  content:"";
  width: 21px;
  height:21px;
  display: block;
  border: 3px solid #c94565;
  border-radius: 50%;
  margin-top: 16px;
  margin-left: 19px;
}
#title .wrap .top .left_top a::after{
  content:"";
  width: 12px;
  height: 3px;
  display: block;
  background-color: #c94565;
  transform: rotate(45deg);
  margin-left: 39px;
}
#title .wrap .top .right_top{
  
  margin-top: 8px;
}
#title .wrap .top .right_top .dday{
  
  display: flex;
  align-items: center;
  margin-bottom: 11px;
}
#title .wrap .top .right_top .dday a{
  
  background-image: url(../img/conference.png);
  display: block;
  width: 305px;
  height: 42px;
}
#title .wrap .top .right_top .dday p{
  
  background-color: #ebdfd3;
  width: 100px;
  height: 50px;
  border-radius: 22px;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#title .wrap .top .right_top .weather{
  
  margin-left: 122px;
}
#title .wrap .top .right_top .weather ul {
  
  display: flex;
  align-items: center;
}
#title .wrap .top .right_top .weather ul li{
  
  display: flex;
  align-items: center;
  padding-right: 12px;
}
#title .wrap .top .right_top .weather ul li:first-child a{
  font-size: 0;
  background-image:url(https://www.gjcity.go.kr/portal/img/weather/ico_weather01.svg);
  display: block;
  width: 28px;
  height: 28px;
  background-size: contain;
  margin-right: 4px;
}
#title .wrap .top .right_top .weather ul li:nth-child(2) a{
  font-size: 23pt;
  font-weight: bold;
}
#title .wrap .top .right_top .weather ul li:nth-child(3) a{
  color:#333;
  font-weight: bold;
  font-size: 12pt;
}
#title .wrap .top .right_top .weather ul li:nth-child(4) a{
  color:#546fbf;
  font-weight: bold;
  font-size: 12pt;
}
#title .wrap .top .right_top .weather ul li:last-child a{
  background-image:url(../img/ico_info.png);
  display: block;
  width: 16px;
  height: 16px;
  font-size: 0;
  margin-left: 6px;
  background-repeat: no-repeat;
}
#title .wrap .top .left_top input{
  
  border: none;
  background-color: #c86a6a;
  font-size: 18px;
  width: 326px;
  text-align: center;
  height: 54px;
  margin-left: 30px;
  color: white;
}

#title .wrap .middle{
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
#title .wrap .middle .left_bottom{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#title .wrap .middle .left_bottom::before{
  content:"";
  background-color:#c86a6a;
  width: 875px;
  height:555px;
  display: block;
  position: absolute;
  z-index: -1;
  left: 0px;
  top: -14px;
  border-radius: 0 0 100px 0;
}
#title .wrap .middle .left_bottom a{ 
  display: block;
  background-image: url(../img/slide1.jpg);
  width: 729px;
  height: 379px;
  background-size: contain;
  border-radius: 34px;
  margin-left: -3px;
}
#title .wrap .middle .left_bottom .control{
  width: 266px;
  height: 50px;
  background-color: white;
  border-radius: 43px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 26px;
}
#title .wrap .middle .left_bottom .control p{
  
  font-weight: bold;
  font-size: 16pt;
  color: #333;
}
#title .wrap .middle .mmr{
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
}
#title .wrap .middle .mmr::after{
  content:"";
  position: absolute;
  display: block;
  background-color:#fffdfd;
  width: 1611px;
  height: 469px;
  z-index: -2;
  right: -54px;
  border-radius: 0 0 0 64px;
}
#title .wrap .middle .mayer{
  grid-column: 2;
  grid-row: 1;
}
#title .wrap .middle .mayer::after{
  content:"";
  display: block;
  background-image:url(https://www.gjcity.go.kr/portal/img/main/img_mayor.png);
  width: 344px;
  height: 315px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: -384px;
  margin-top: 32px;
}
#title .wrap .middle .mmr .man{
  
  grid-column: 1;
  grid-row: 1;
}
#title .wrap .middle .mmr .man ul {
  
  width: 46%;
}
#title .wrap .middle .mmr .man ul li {
  
  padding-bottom: 9px;
  /*! border: 1px solid #e83e34; */
  /*! border-radius: 32px; */
  margin-bottom: 2px;
}
#title .wrap .middle .mmr .man ul li a{
  color: #e83e34;
  border-radius: 15px;
  padding: 1px 16px;
  line-height: 2.5;
  font-size: 11pt;
  font-weight: bold;
  display: flex;
  align-items: center;
  border: 1px solid #e83e34;
  border-radius: 50px;
  margin-right: 97px;
  background-color: #ffffff;
}
#title .wrap .middle .road{
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}
#title .wrap .middle .road ul{
  
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#title .wrap .middle .road ul li{
  
  width: calc(100% / 3);
  justify-content: center;
  display: flex;
  padding: 0 63px;
}
#title .wrap .middle .road ul li a{

}
#title .wrap .middle .road ul li a::before{
  content:"";
  display: block;
  width:50px;
  height: 50px;
  background-image: url(https://www.gjcity.go.kr/portal/img/main/ico_mayor_quick_02.svg);
  text-align: center;
  background-position-x: 6px;
  background-repeat: no-repeat;
  font-weight: bold;
}
#title .wrap .middle .road ul li:first-child a::before{
  background-image:url(https://www.gjcity.go.kr/portal/img/main/ico_mayor_quick_01.svg);
}
#title .wrap .middle .road ul li:nth-child(2) a::before{
  background-image: url(https://www.gjcity.go.kr/portal/img/main/ico_mayor_quick_02.svg);
}
#title .wrap .middle .road ul li:last-child a::before{
  background-image: url(https://www.gjcity.go.kr/portal/img/main/ico_mayor_quick_03.svg);
}
#title .wrap .middle .mmr .man p{
  color:#333;
  font-size: 19pt;
  font-weight: bold;
  padding-bottom: 21px;
  padding-top: 28px;
}
#title .wrap .middle .mmr .man p span{
  color:#d22259;
}
#title .wrap .left {

  grid-column: 1 / span 2;
  grid-row: 1;
}
#title .wrap .left .left_top {

}
#title .wrap .left .left_top input {

}
#title .wrap .left .left_top > a {

}
#title .wrap .left > a {

}
#title .wrap .left .left_bottom {

}
#title .wrap .left .left_bottom > a {

}
#title .wrap .left .left_bottom .control {

}
#title .wrap .right {

}
#title .wrap .right .right_top {

}
#title .wrap .right .right_top .dday {

}
#title .wrap .right .right_top .dday > a {

}
#title .wrap .right .right_top .dday p {

}
#title .wrap .right .right_top .weather {

}
#title .wrap .right .right_top .weather > ul {

}
#title .wrap .right .right_top .weather > ul > li {

}
#title .wrap .right .right_top .weather > ul > li > a {

}
#title .wrap .right .right_bottom {

}
#title .wrap .right .right_bottom .man {

}
#title .wrap .right .right_bottom .man p {

}
#title .wrap .right .right_bottom .man > ul {

}
#title .wrap .right .right_bottom .man > ul > li {

}
#title .wrap .right .right_bottom .man > ul > li > a {

}
#title .wrap .right .right_bottom .mayer {

}
#title .wrap .right .right_bottom .road {

}
#title .wrap .right .right_bottom .road > ul {

}
#title .wrap .right .right_bottom .road > ul > li {

}
#title .wrap .right .right_bottom .road > ul > li > a {

}
#title .wrap .bottom {
  display: flex;
  justify-content: center;
  width: 100%;
}
#title .wrap .bottom::before{
  content:"";
  background-color:#ffeded;
  position: absolute;
  right: 0;
  width: 100%;
  height: 319px;
  left: 0;
  z-index: -3;
}
#title .wrap .bottom .fgnb {

  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 81px;
  padding-bottom: 56px;
  width: 100%;
}
#title .wrap .bottom .fgnb > ul:first-child {
  display: flex;
  justify-content: center;
}
#title .wrap .bottom .fgnb > ul > li {

}
#title .wrap .bottom .fgnb > ul:first-child > li > a {

  border: 1px solid #eed8dd;
  background-color: white;
  color: #333;
  padding: 11px 34px;
  border-radius: 28px;
  font-weight: bold;
}

#title .wrap .bottom .fgnb > ul:first-child > li:first-child > a {
 background-color:#7c5693;
  color:white;
}
#title .wrap .bottom .fgnb > ul:nth-child(2){
  
  display: flex;
  padding-top: 33px;
  width: 100%;
}
#title .wrap .bottom .fgnb > ul:nth-child(2) li{
  text-align: center;
  width: calc(100% / 8);
}
#title .wrap .bottom .fgnb > ul:nth-child(2) li a{
  content:"";
  display: block;
  height: 148px;
  margin-bottom: 21px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 11pt;
  font-weight: bold;
}
#title .wrap .bottom .fgnb > ul:nth-child(2) li a::before{
  content:"";
  display: block;
  width: 89px;
  height: 89px;
  border-radius: 58px;
  background-color: white;
  margin-bottom: 26px;
  background-position: center;

}
#title .wrap .bottom .fgnb > ul:nth-child(2) li:nth-child(1) a::before{
    background-image: url(../img/icon_apply_02.png);
}
#title .wrap .bottom .fgnb > ul:nth-child(2) li:nth-child(2) a::before{
    background-image: url(../img/icon_fav_02.png);
}
#title .wrap .bottom .fgnb > ul:nth-child(2) li:nth-child(3) a::before{
    background-image: url(../img/icon_travel_04.png);
}#title .wrap .bottom .fgnb > ul:nth-child(2) li:nth-child(4) a::before{
    background-image: url(../img/icon_info_02.png);
}
#title .wrap .bottom .fgnb > ul:nth-child(2) li:nth-child(5) a::before{
    background-image: url(../img/icon_apply_06.png);
}#title .wrap .bottom .fgnb > ul:nth-child(2) li:nth-child(6) a::before{
    background-image: url(../img/icon_apply_02.png);
}
#title .wrap .bottom .fgnb > ul:nth-child(2) li:nth-child(7) a::before{
    background-image: url(../img/icon_minwon_02.png);
}#title .wrap .bottom .fgnb > ul:nth-child(2) li:nth-child(8) a::before{
    background-image: url(../img/icon_fav_03.png);
}
#title .wrap .bottom .fgnb > ul:nth-child(2) li a span{
  
}